video {
    border-radius: 8px;
}

.vjs-control-bar {
    border-radius: 8px;
}

.vjs-control-bar,
.vjs-big-play-button,
.vjs-menu-button .vjs-menu-content {
    background-color: #34343488;
}

.video-js .vjs-control-bar {
    margin: 0 8px 8px 8px;
    width: auto;
}

.vjs-poster {
    border-radius: 8px;
}

.vjs-play-control {
    border-radius: 0 0 8px 8px;
}

.vjs-big-play-button {
    border-color: #00f;
}

.vjs-slider-bar {
    color: #E84409;
}

.vjs-progress-holder .vjs-play-progress {
    background: #E84409;
}

.vjs-live-display {
    color: white;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 16px;
    background-color: red;
    margin: auto 0 auto 8px;
    border-radius: 8px;
    padding: 4px 9.6px;
    line-height: 1;
}
