* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0 36px;
    /*overflow: overlay;*/
}

@media (max-width: 767.98px) {
    .responsive-fold {
        margin-bottom: 16px;
    }

    body {
        margin: 0 12px;
    }
}

.material-icons {
    font-size: 22px;
    vertical-align: sub;
}

.text-primary {
    color: #E84409 !important;
}

.progress-bar {
    background-color: #E84409;
}

.btn-primary, .btn-primary:focus, .btn-primary:disabled {
    background-color: #E84409;
    color: white;
    border-color: #E84409;
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(232, 68, 9, 0.5);
}

.btn-outline-primary, .btn-outline-primary:focus {
    color: #E84409;
    border-color: #E84409;
}

.btn-outline-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(232, 68, 9, 0.5);
}

.btn-primary:hover {
    background-color: #db4109;
    border-color: #E84409;
}

.btn-outline-primary:hover {
    background-color: #E84409;
    border-color: #E84409;
    color: white;
}

.btn-primary:active, .btn-outline-primary:active {
    background-color: #cf490a !important;
    border-color: #cf490a !important;
    box-shadow: 0 0 0 0.2rem rgba(232, 68, 9, 0.5) !important;
}

.form-control:focus, .custom-file-input:focus ~ .custom-file-label {
    border-color: #E84409;
    box-shadow: 0 0 0 0.2rem rgba(232, 68, 9, 0.5) !important;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 8px;
    padding-right: 8px;
}

.share-twitter.btn-primary, .share-twitter.btn-primary:focus, .share-twitter.btn-primary:disabled {
    background-color: #55ACEE;
    color: white;
    border-color: #55ACEE;
}

.share-twitter.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(85, 172, 238, 0.5);
}

.share-twitter.btn-primary:hover {
    background-color: #4da3dc;
    border-color: #4da3dc;
}

.share-twitter.btn-primary:active {
    background-color: #4c94cd !important;
    border-color: #4c94cd !important;
    box-shadow: 0 0 0 0.2rem rgba(85, 172, 238, 0.5) !important;
}

.share-facebook.btn-primary, .share-facebook.btn-primary:focus, .share-facebook.btn-primary:disabled {
    background-color: #3B5998;
    color: white;
    border-color: #3B5998;
}

.share-facebook.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.5);
}

.share-facebook.btn-primary:hover {
    background-color: #3c4f8f;
    border-color: #3c4f8f;
}

.share-facebook.btn-primary:active {
    background-color: #3c4787 !important;
    border-color: #3c4787 !important;
    box-shadow: 0 0 0 0.2rem rgba(59, 89, 152, 0.5) !important;
}

.btn-primary:active, .btn-outline-primary:active {
    background-color: #cf490a !important;
    border-color: #cf490a !important;
    box-shadow: 0 0 0 0.2rem rgba(232, 68, 9, 0.5) !important;
}


