/* Example Styles for React Tags*/
div.ReactTags__tags {
    display: block;
    width: 100%;
    min-height: calc(1.5em + .75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #8B280344;
    background-clip: padding-box;
    border: 1px solid #8B280344;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    padding: .375rem .75rem;
}

div.ReactTags__tags__disabled {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #999999DD;
    background-clip: padding-box;
    border: 1px solid #8B280344;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    padding: .375rem .75rem;
    background-color: #8B2803AA;
    opacity: 1;
}

div.ReactTags__tags__error {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #EBEBEB;
    background-color: #8B280344;
    background-clip: padding-box;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    border: 1px solid #dc3545;
    padding: .375rem calc(1.5em + .75rem) .375rem .75rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23dc3545' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

div.ReactTags__tags:focus-within, div.ReactTags__tags__error:focus-within {
    border-color: #E84409;
    box-shadow: 0 0 0 0.2rem rgba(232, 68, 9, 0.5) !important;
}

/* Styles for the input */
div.ReactTags__tagInput {
    flex-grow: 1;
    border-radius: 2px;
    display: inline-block;
    background: transparent;
    border: 0;
    color: #EBEBEB;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    outline: none;
}

div.ReactTags__tagInput__disabled {
    display: none;
}

div.ReactTags__tagInput input.ReactTags__tagInputField,
div.ReactTags__tagInput input.ReactTags__tagInputField:focus {
    width: 100%;
    border-radius: 2px;
    display: inline-block;
    background: transparent;
    border: 0;
    color: #EBEBEB;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    outline: none;
}

div.ReactTags__selected {
    display: flex;
    flex-wrap: wrap;
    margin-top: -8px;
}

div.ReactTags__selected > * {
    margin-top: 8px;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
    background: #8B2803AA;
    color: #DDD;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    margin-right: 8px;
    display: inline-block;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    padding: .25em .6em;
}

div.ReactTags__selected a.ReactTags__remove {
    color: #aaa;
    margin-left: 5px;
    cursor: pointer;
}
